body {
    background: black;
}

.container {
    text-align: center;
    margin: 0 auto;
}

.video-container {
    opacity: 0;
}

.controls {
    margin-top: 100px;
}

.display-video {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.hide-video {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

button {
    background-color: black;
    border: none;
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
    padding: 10px;
}

button img {
    width: 66px;
}

button:hover {
    opacity: 0.5;
}

#playpause.playing {
    background-color: #53040C;
    border-radius: 30%;
    opacity: 1;
  }

  @media (max-width: 1260px) {
    .video-container {
        display: none;
    }
    .controls {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }
    button:hover {
        opacity: 1;
    }
  }
