body {
    background: black;
}

.container {
    text-align: center;
    margin: 0 auto;
}

.video-container iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-container iframe {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.video-container:hover iframe {
    opacity: 1;
}

button {
    background-color: black;
    border: none;
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
    padding: 10px;
}

button img {
    width: 66px;
}

button:hover {
    opacity: 0.5;
}

#playpause.playing {
    background-color: #53040C;
    border-radius: 30%;
    opacity: 1;
  }

  @media (max-width: 767px) {
    .video-container {
        display: none;
    }
    .controls {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }
  }

  @media (max-width: 575px) {
    .video-container {
        display: none;
    }
    .controls {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }
  }
