body {
    background: black;
}

.container {
    text-align: center;
    margin: 0 auto;
}

.controls {
    margin-top: 100px;
    margin-bottom: 30px;
}

button {
    background-color: transparent;
    border: none;
    transition: opacity 0.2s ease-in-out, transform 0.3s ease-in-out; /* Transitions combinées */
    opacity: 1;
    padding: 10px;
}

button img {
    width: 66px;
}

button:hover {
    opacity: 0.5;
}

.playing {
    background-color: #53040C;
    border-radius: 30%;
    opacity: 1;
  }

button.playing {
    opacity: 1;
}

.fade-in {
    opacity: 0;
}

.fade-in.show-video {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.fade-out {
    opacity: 1;
    transition: opacity 1s ease-out;
}

.fade-out.hide-video {
    opacity: 0;
}

@media (max-width: 1260px) {
    #video-container {
        display: none;
    }
    .controls {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }
    button:hover {
        opacity: 1;
    }
}
